@import '../../styles.scss';

h2 {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5em;
}

.open {
  padding: 30px 40px;
  background-color: blue;
  margin: 0 0 40px 0;
}

.container {
  text-align: center;
}

.add {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

//rgb(76, 174, 80) greeen
//rgb(234, 27, 99) pink
