h2 {
  text-align: center;
  margin: 20px 0;
  color: blue;
}

button {
  margin: 10px 0 60px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: blue;
  display: block;
  text-align: center;
  margin-top: 20px;
}

input {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 30px;
}

textarea {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 60px;
}
