<mat-card>
  <mat-card-header>
    <mat-card-title>{{ content.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image *ngIf="content.imgURL; else defaultImage" [src]="content.imgURL" (click)="showDetails()" />
  <ng-template #defaultImage>
    <img mat-card-image src="assets/images/default.jpg" (click)="showDetails()" />
  </ng-template>
  <mat-card-content>
    <!-- <p>Description: {{ content.description }}</p> -->
    <a [routerLink]="['/content',content.id]" routerLinkActive="active">
      Content Details
    </a>
    <p>Creator: {{ content.creator }}</p>
    <p>Type: {{ content.type }}</p>
    <div>Tags:
      <span class="tag" *ngFor="let tag of content.tags">{{tag}}</span>
    </div>

  </mat-card-content>
</mat-card>
