
<div class="card">
  <h3 class="heading">{{ content.title }}</h3>

  <img class="img" *ngIf="content.imgURL; else defaultImage" [src]="content.imgURL" (click)="showDetails()" />

  <ng-template #defaultImage>
    <img class="default-img" src="assets/images/default.jpg" (click)="showDetails()" />
  </ng-template>

  <div class="container">
    <p>Description: {{ content.description }}</p>

    <p>Creator: {{ content.creator }}</p>

    <p appHoverAffect typeStyle="textDecoration">Type: {{ content.type }}</p>

    <div>Tags:
      <p class="list" *ngFor="let tag of content.tags" appHoverAffect tagStyle="fontWeight">
        {{tag}}
      </p>
    </div>
  </div>
</div>
