.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  padding: 20px;
  background: rgb(1, 39, 39);
  color: #000;
}

.card > div {
  display: flex;
  gap: 15px;
}

.card img {
  cursor: pointer;
}

.badge {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  background-color: rgb(24, 94, 21);
  border-radius: 9999px;
}

.card-type-Human {
  background-color: rgb(87, 10, 21);
}

.card-type-God {
  background-color: rgb(175, 96, 0);
}
