.card {
  margin: 40px 0;
  border-radius: 100px red;
}

.img {
  max-width: 20%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.default-img {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.heading {
  text-align: center;
  font-size: 2em;
}

.container {
  padding: 20px;
  cursor: pointer;
}

.list {
  list-style-type: disc;
}
